* {
  padding: 0;
  margin: 0;
}
:root {
  --main-light-color: rgb(215, 215, 215);
  --main-dark-color: rgb(109, 108, 109);
  --main-border: solid 3px blue;
  --main-dark-background: #333;
  --second-dark-background: #666;
  --main-light-background: rgb(215, 215, 215);
}
/*  testing */
body {
  margin: 0;
  margin-top: 4px;
  height: 100vh;
}

/* header */

/* logo */
/* change the just .logo-container size and the rest will adjust */
.logo-container {
  width: 40px;
  height: 40px;
  position: relative;
}

.left-logo-line {
  background-color: var(--second-dark-background);
  position: absolute;
  border-top-left-radius: 2px;
  width: 5px;
  height: 100%; /* Set height to 100% to match the container's height */
  left: 0; /* Align the line with the left side of the container */
  top: 0; /* Align the line with the top of the container */
  animation-duration: 3s;
  animation-name: change-size;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes change-size {
  from {
    width: 1px;
    background-color: #333;
  }
  to {
    width: 5px;
  }
}

.bottom-logo-line {
  background-color: var(--second-dark-background);
  position: absolute;
  width: 100%; /* Set width to 100% to match the container's width */
  height: 5px;
  left: 0; /* Align the line with the left side of the container */
  bottom: 0; /* Align the line with the bottom of the container */
  animation-duration: 3s;
  animation-name: change-size1;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes change-size1 {
  from {
    height: 1px;
    background-color: #333;
  }

  to {
    height: 5px;
    background-color: #666;
  }
}
.right-logo-line {
  background-color: var(--second-dark-background);
  position: absolute;
  width: 5px;
  height: calc(
    50% - 1px
  ); /* Use calc() to adjust the height based on the container's height */
  right: 0; /* Align the line with the right side of the container */
  top: calc(50%); /* Align the line with the top of the container */
  animation-duration: 3s;
  animation-name: change-size2;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes change-size2 {
  from {
    width: 1px;
    background-color: #333;
  }
  to {
    width: 5px;
    background-color: #666;
  }
}

.right-middle-logo-line {
  background-color: var(--second-dark-background);
  position: absolute;
  width: calc(
    60%
  ); /* Use calc() to adjust the width based on the container's width */
  height: 5px;
  left: calc(
    40%
  ); /* Align the line with 35px from the left side of the container */
  top: calc(50%); /* Align the line with 25px from the top of the container */
  animation-duration: 3s;
  animation-name: change-size3;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes change-size3 {
  from {
    height: 1px;
    background-color: #333;
  }
  to {
    height: 5px;
    background-color: #666;
  }
}

.left-middle-logo-line {
  background-color: var(--second-dark-background);
  position: absolute;
  width: 5px;
  height: calc(
    50%
  ); /* Use calc() to adjust the height based on the container's height */
  left: calc(
    40%
  ); /* Align the line with 35px from the left side of the container */
  top: 1px; /* Align the line with the top of the container */
  animation-duration: 3s;
  animation-name: change-size4;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes change-size4 {
  from {
    width: 1px;
    background-color: #333;
  }
  to {
    width: 5px;
    background-color: #666;
  }
}

.top--right-logo-line {
  background-color: var(--second-dark-background);
  position: absolute;
  border-top-right-radius: 2px;
  width: calc(60% ); /* Use calc() to adjust the width based on the container's width */
  height: 5px;
  left: calc(40% ); /* Align the line with 35px from the left side of the container */
  top: 1px; /* Align the line with the top of the container */
  animation-duration: 3s;
  animation-name: change-size5;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes change-size5 {
  from {
    height: 1px;
    background-color: #333;
  }
  to {
    height: 5px;
    background-color: #666;
  }
}

/* end logo */

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}

.link-container {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  align-items: center;
}

/* main */

/* aside */

/* footer */

footer {
  background-color: var(--main-dark-background);
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: large;
  width: 100%;
  text-decoration: none;
  color: var(--main-dark-color);
}
.devicon-github-original {
  color: var(--main-light-color);
  text-decoration: none;
  font-size: 1.3rem;
}
