* {
  padding: 0;
  margin: 0;
}
:root {
  --main-dark-color: #222;
  --second-text-color: rgb(214, 234, 228);
  --main-light-color: #333;
  --main-logo-color: rgb(42, 119, 170);
  --main-dark-background: rgb(195, 196, 197);
  --normal-background-color: rgb(214, 234, 228);
  --light-background-color: rgb(249, 250, 251);
  --main-box-shadow: 4px 2px 10px 1px rgb(204, 224, 218);
}
body {
  margin: 0;
  height: 100vh;
  background-color: var(--normal-background-color);
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
}
main {
  max-width: 1200px;
  margin: auto;
}

/* header */
.nav-link {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--main-dark-color);
}
.nav-link:active {
  text-decoration: underline;
}
/* logo */
/* change the just .logo-container size and the rest will adjust */
.logo-container {
  margin-top: 4px;
  width: 40px;
  height: 40px;
  position: relative;
}

.left-logo-line {
  background-color: var(--main-logo-color);
  position: absolute;
  border-top-left-radius: 2px;
  width: 5px;
  height: 100%; /* Set height to 100% to match the container's height */
  left: 0; /* Align the line with the left side of the container */
  top: 0; /* Align the line with the top of the container */
  animation-duration: 3s;
  animation-name: change-size;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes change-size {
  from {
    width: 1px;
    background-color: var(--second-text-color);
  }
  to {
    width: 5px;
  }
}

.bottom-logo-line {
  background-color: var(--main-logo-color);

  position: absolute;
  width: 100%; /* Set width to 100% to match the container's width */
  height: 5px;
  left: 0; /* Align the line with the left side of the container */
  bottom: 0; /* Align the line with the bottom of the container */
  animation-duration: 3s;
  animation-name: change-size1;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes change-size1 {
  from {
    height: 1px;
    background-color: var(--second-text-color);
  }

  to {
    height: 5px;
  }
}
.right-logo-line {
  /* background-color: var(--second-dark-background);
   */
  background-color: var(--main-logo-color);
  position: absolute;
  width: 5px;
  height: calc(
    50% - 1px
  ); /* Use calc() to adjust the height based on the container's height */
  right: 0; /* Align the line with the right side of the container */
  top: calc(50%); /* Align the line with the top of the container */
  animation-duration: 3s;
  animation-name: change-size2;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes change-size2 {
  from {
    width: 1px;
    /* background-color: #333;
     */
    background-color: var(--second-text-color);
  }
  to {
    width: 5px;
  }
}

.right-middle-logo-line {
  /* background-color: var(--second-dark-background); */
  background-color: var(--main-logo-color);
  position: absolute;
  width: calc(
    60%
  ); /* Use calc() to adjust the width based on the container's width */
  height: 5px;
  left: calc(
    40%
  ); /* Align the line with 35px from the left side of the container */
  top: calc(50%); /* Align the line with 25px from the top of the container */
  animation-duration: 3s;
  animation-name: change-size3;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes change-size3 {
  from {
    height: 1px;
    /* background-color: #333; */
    background-color: var(--second-text-color);
  }
  to {
    height: 5px;
  }
}

.left-middle-logo-line {
  /* background-color: var(--second-dark-background); */
  background-color: var(--main-logo-color);
  position: absolute;
  width: 5px;
  height: calc(
    50%
  ); /* Use calc() to adjust the height based on the container's height */
  left: calc(
    40%
  ); /* Align the line with 35px from the left side of the container */
  top: 1px; /* Align the line with the top of the container */
  animation-duration: 3s;
  animation-name: change-size4;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes change-size4 {
  from {
    width: 1px;
    /* background-color: #333; */
    background-color: var(--second-text-color);
  }
  to {
    width: 5px;
  }
}

.top--right-logo-line {
  /* background-color: var(--second-dark-background); */
  background-color: var(--main-logo-color);
  position: absolute;
  border-top-right-radius: 2px;
  width: calc(
    60%
  ); /* Use calc() to adjust the width based on the container's width */
  height: 5px;
  left: calc(
    40%
  ); /* Align the line with 35px from the left side of the container */
  top: 1px; /* Align the line with the top of the container */
  animation-duration: 3s;
  animation-name: change-size5;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes change-size5 {
  from {
    height: 1px;
    /* background-color: #333; */
    background-color: var(--second-text-color);
  }
  to {
    height: 5px;
  }
}

/* end logo */

* {
  margin: 0;
  box-sizing: border-box;
}

/* Update the .header-container class */
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  height: 50px;
  width: 100%; /* Added to span the entire width */
  background-color: var(--second-text-color);
  box-shadow: var(--main-box-shadow);
}

.link-container {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  align-items: center;
}

/* main */
.section-one-name {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--normal-background-color);
  color: var(--main-light-color);
}

.section-one-div-container > * {
  position: relative;
  
}
.section-one-div-container {
  position: relative; 
  width: 98%;
  overflow: hidden;
  box-shadow: var(--main-box-shadow);
  border-radius: 5px;
}

.section-one-div-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2); /* Change the last value (0.*) to adjust opacity */
  z-index: 1;
}

.section-one-div-container::before,
.section-one-div-container > * {
  pointer-events: none; /* Ensure the pseudo-element and the content beneath it are not interactive */
}

.section-one-div-container > * {
  position: relative;
  z-index: 2;
}

.section-one-div-container {
  background: url(./images/photo-1575089976121-8ed7b2a54265.avif) 0px -50% no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}






.header-h1-name {
  font-size: 5rem;
}

.header-h2-1 {
  font-size: 2.2rem;
}
.header-h2-2 {
  font-size: 2.2rem;
}

/* about */
.section-about {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 55px 8px 0 8px;
  margin-bottom: 60px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--normal-background-color);
  color: var(--main-light-color);
}
.section-about > * {
  background-color: white;
  border-radius: 5px;
  padding: 8px;
}

.container-photo-skills {
  display: flex;
  background-color: var(--light-background-color);

  gap: 14px;
  justify-content: center;
}
.container-photo-skills > * {
  background-color: var(--light-background-color);
  border-radius: 5px;
  padding: 8px;
}

.container-my-skills {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;

  background-color: var(--light-background-color);
}
.container-my-photo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally center the items */
  justify-content: center; /* Vertically center the items */
  /* Add any additional styles you want for the container */
}
.div-image-my-photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 65px;
}
.image-my-photo {
  border-radius: 50%;
  width: 250px;
}
.whoamI {
  text-align: center;
  font-size: 1.5rem;
}
.para-about-me {
  margin-top: 14px;
  margin-bottom: 14px;

  width: 100%;
  font-size: 1rem;
  text-align: center;
}
.container-tecnologies {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container-tecnologies h4 {
  text-align: center;
  font-size: 2rem;
  padding: 14px;
}

.tec-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.tec-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 4px;
  font-size: 1.2rem;
  height: 50px;
  border-bottom: 1px #32646b solid;
  color: #000000;
  background-color: #6fc7d3;
  border-right: #3fc591 300px solid;
}

.section-projects {
  padding: 55px 8px 0 8px;

  height: 100vh;
  box-shadow: var(--main-box-shadow);
}

.section-contact {
  padding: 55px 8px 0 8px;

  height: 100vh;
  box-shadow: var(--main-box-shadow);
}

/* footer */

footer {
  background-color: var(--normal-background-color);
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 1.4rem;
  width: 100%;

  color: var(--main-light-color);
}

.icon-bottom {
  color: var(--main-light-color);

  font-size: 1.6rem;
}
.image-linkedin {
  margin-top: 5px;
  width: 35px;
  margin-bottom: -10px;
}
.image-linkedin-a {
  text-decoration: none !important;
}
.link-icons-a {
  display: none;
}

.section-one-logo {
  opacity: 0.15;
}

/* END SINGLE CATEGORY PAGE */
/********** Large devices only **********/
@media (min-width: 1200px) {
  .header-h2-1 {
    font-size: 2.6rem;
    padding: 80px 15px 4px 15px;
  }

  .header-h2-2 {
    font-size: 2.6rem;
    padding: 30px 4px 4px 15px;
  }
  .header-h1-name {
    font-size: 1.6rem;
    padding: 170px 4px 4px 15px;
  }
  .section-one-logo {
    position: absolute;
    top: 300px;
    right: 20%;
    width: 450px;
  }

  .container-photo-skills {
    display: block;
  }
  .tec-container div {
    border-right: var(--normal-background-color) 300px solid;
    background-color: var(--main-dark-background);
    border-bottom: var(--main-dark-background);
  }
  .section-about {
    display: flex;
    justify-content: space-between;
  }
  .image-about {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    color: var(--main-logo-color);
    width: 50px;
    height: 50px;
  }
  .div-image-my-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 65px;
  }
  .image-my-photo {
    border: solid var(--main-dark-background) 1px;
    border-radius: 50%;
    width: 250px;
  }
  .container-my-photo {
    width: 100%;
  }
  .container-tecnologies {
    width: 100%;
  }
  .section-about {
    height: auto;
  }

  .container-tecnologies h4 {
    font-size: 1.3rem;
  }
  .container-my-skills {
    display: flex;
    gap: 12px;
  }
  .container-my-skills h4 {
    font-size: 1rem;
    height: 30px;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22%;
  }
  .skills-container p {
    text-align: center;
    font-size: 1.2rem;
  }

  .para-about-me {
    font-size: 1.3rem;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .header-h2-1 {
    font-size: 2.6rem;
    padding: 80px 4px 4px 15px;
  }

  .header-h2-2 {
    font-size: 2.6rem;
    padding: 30px 4px 4px 15px;
  }
  .header-h1-name {
    font-size: 1.6rem;
    padding: 170px 4px 4px 15px;
  }
  .section-one-logo {
    position: absolute;
    top: 300px;
    right: 15%;
    width: 450px;
  }

  .tec-container div {
    border-right: var(--normal-background-color) 100px solid;
    background-color: var(--main-dark-background);
    border-bottom: var(--main-dark-background);
  }

  .container-photo-skills {
    display: block;
  }
  .tec-container div {
    border-right: var(--normal-background-color) 300px solid;
    background-color: var(--main-dark-background);
    border-bottom: var(--main-dark-background);
  }
  .section-about {
    display: flex;
    justify-content: space-between;
  }
  .image-about {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    color: var(--main-logo-color);
    width: 50px;
    height: 50px;
  }
  .div-image-my-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 65px;
  }
  .image-my-photo {
    border: solid var(--main-dark-background) 1px;
    border-radius: 50%;
    width: 250px;
  }
  .container-my-photo {
    width: 100%;
  }
  .container-tecnologies {
    width: 100%;
  }
  .section-about {
    height: auto;
  }

  .container-tecnologies h4 {
    font-size: 1.3rem;
  }
  .container-my-skills {
    display: flex;
    gap: 12px;
  }
  .container-my-skills h4 {
    font-size: 1rem;
    height: 30px;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22%;
  }
  .skills-container p {
    text-align: center;
    font-size: 1.2rem;
  }

  .para-about-me {
    font-size: 1.3rem;
  }
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .header-h2-1 {
    font-size: 2.4rem;
    padding: 90px 4px 4px 4px;
  }

  .header-h2-2 {
    font-size: 2.4rem;
    padding: 30px 4px 4px 4px;
  }
  .header-h1-name {
    font-size: 1.5rem;
    padding: 170px 4px 4px 4px;
  }
  .section-one-logo {
    position: absolute;
    top: 300px;
    right: 15%;
    width: 55%;
  }

  /* about */

  .container-photo-skills {
    display: block;
  }
  .tec-container div {
    border-right: var(--normal-background-color) 300px solid;
    background-color: var(--main-dark-background);
    border-bottom: var(--main-dark-background);
  }
  .section-about {
    display: flex;
    justify-content: space-between;
  }
  .image-about {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    color: var(--main-logo-color);
    width: 50px;
    height: 50px;
  }
  .div-image-my-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 65px;
  }
  .image-my-photo {
    border: solid var(--main-dark-background) 1px;
    border-radius: 50%;
    width: 250px;
  }
  .container-my-photo {
    width: 100%;
  }
  .container-tecnologies {
    width: 100%;
  }
  .section-about {
    height: auto;
  }

  .container-tecnologies h4 {
    font-size: 1.3rem;
  }
  .container-my-skills {
    display: flex;
    gap: 12px;
  }
  .container-my-skills h4 {
    font-size: 1rem;
    height: 30px;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
  }
  .skills-container p {
    text-align: center;
    font-size: 1.2rem;
  }

  .para-about-me {
    font-size: 1.3rem;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .header-h2-1 {
    font-size: 2.3rem;
    padding: 90px 4px 4px 4px;
  }

  .header-h2-2 {
    font-size: 2.3rem;
    padding: 30px 4px 4px 4px;
  }
  .header-h1-name {
    font-size: 1.4rem;
    padding: 170px 4px 4px 4px;
  }
  .section-one-logo {
    position: absolute;
    top: 300px;
    right: 15%;
    width: 55%;
  }

  .container-photo-skills {
    display: block;
  }
  .tec-container div {
    border-right: var(--normal-background-color) 200px solid;
    background-color: var(--main-dark-background);
    border-bottom: var(--main-dark-background);
  }
  .section-about {
    display: flex;
    justify-content: space-between;
  }
  .image-about {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    color: var(--main-logo-color);
    width: 50px;
    height: 50px;
  }
  .div-image-my-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 65px;
  }
  .image-my-photo {
    border: solid var(--main-dark-background) 1px;
    border-radius: 50%;
    width: 250px;
  }
  .container-my-photo {
    width: 100%;
  }
  .container-tecnologies {
    width: 100%;
  }
  .section-about {
    height: auto;
  }

  .container-tecnologies h4 {
    font-size: 1.3rem;
  }
  .container-my-skills {
    display: flex;
    gap: 12px;
  }
  .container-my-skills h4 {
    font-size: 1rem;
    height: 30px;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
  }
  .skills-container p {
    text-align: center;
    font-size: 1.2rem;
  }

  .para-about-me {
    font-size: 1.3rem;
  }
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  .header-h2-1 {
    font-size: 2.6rem;
    padding: 80px 4px 4px 25px;
  }

  .header-h2-2 {
    font-size: 2.6rem;
    padding: 30px 4px 4px 25px;
  }
  .header-h1-name {
    font-size: 1.6rem;
    padding: 80px 4px 4px 25px;
  }

  .section-one-logo {
    position: absolute;
    top: 200px;
    right: 15%;
    width: 55%;
  }

  .link-container a {
    font-size: 1.4rem;
  }
  .link-icons-a {
    display: block;
    font-size: 1.6rem;
  }
  .link-text {
    display: none;
  }

  /* about */

  .container-photo-skills {
    display: block;
  }
  .tec-container div {
    border-right: var(--normal-background-color) 100px solid;
    background-color: var(--main-dark-background);
    border-bottom: var(--main-dark-background);
  }
  .section-about {
    display: flex;
    justify-content: space-between;
  }
  .image-about {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    color: var(--main-logo-color);
    width: 50px;
    height: 50px;
  }
  .div-image-my-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 55px;
  }
  .image-my-photo {
    border: solid var(--main-dark-background) 1px;
    border-radius: 50%;
    width: 150px;
  }
  .container-my-photo {
    width: 100%;
  }
  .container-tecnologies {
    width: 100%;
  }
  .section-about {
    height: auto;
  }

  .container-tecnologies h4 {
    font-size: 1.4rem;
  }
  .container-my-skills {
    display: flex;
    gap: 12px;
  }
  .container-my-skills h4 {
    font-size: 1.4rem;
    height: 30px;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
  }
  .skills-container p {
    text-align: center;
  }
}
