* {
  padding: 0;
  margin: 0;
}
:root {
  --main-light-color: #ffffff;
  --main-dark-color: rgb(109, 108, 109);
  --main-border: solid 3px blue;
  --main-dark-background: #333;
  --main-dark-color: #333;
  --second-dark-background: #666;
  --main-light-background: rgb(215, 215, 215);
  --main-text-color: #3fc591;
  --second-text-color: #13464e;
  --light-background-color: rgb(214, 234, 228);
  --normal-background-color: #1d5d5a;
}
/*  testing */
body {
  margin: 0;
  height: 100vh;
  background-color: var(--normal-background-color);
  font-family: "Inter", sans-serif;
  color: var(--main-light-color);
  font-family: "Roboto", sans-serif;
}

/* header */
.nav-link {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--main-light-color);
}
.nav-link:active {
  text-decoration: underline;
}
/* logo */
/* change the just .logo-container size and the rest will adjust */
.logo-container {
  margin-top: 4px;
  width: 40px;
  height: 40px;
  position: relative;
}

.left-logo-line {
  background-color: var(--main-text-color);
  position: absolute;
  border-top-left-radius: 2px;
  width: 5px;
  height: 100%; /* Set height to 100% to match the container's height */
  left: 0; /* Align the line with the left side of the container */
  top: 0; /* Align the line with the top of the container */
  animation-duration: 3s;
  animation-name: change-size;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes change-size {
  from {
    width: 1px;
    background-color: var(--second-text-color);
  }
  to {
    width: 5px;
  }
}

.bottom-logo-line {
  background-color: var(--main-text-color);

  position: absolute;
  width: 100%; /* Set width to 100% to match the container's width */
  height: 5px;
  left: 0; /* Align the line with the left side of the container */
  bottom: 0; /* Align the line with the bottom of the container */
  animation-duration: 3s;
  animation-name: change-size1;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes change-size1 {
  from {
    height: 1px;
    background-color: var(--second-text-color);
  }

  to {
    height: 5px;
  }
}
.right-logo-line {
  /* background-color: var(--second-dark-background);
   */
  background-color: var(--main-text-color);
  position: absolute;
  width: 5px;
  height: calc(
    50% - 1px
  ); /* Use calc() to adjust the height based on the container's height */
  right: 0; /* Align the line with the right side of the container */
  top: calc(50%); /* Align the line with the top of the container */
  animation-duration: 3s;
  animation-name: change-size2;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes change-size2 {
  from {
    width: 1px;
    /* background-color: #333;
     */
    background-color: var(--second-text-color);
  }
  to {
    width: 5px;
  }
}

.right-middle-logo-line {
  /* background-color: var(--second-dark-background); */
  background-color: var(--main-text-color);
  position: absolute;
  width: calc(
    60%
  ); /* Use calc() to adjust the width based on the container's width */
  height: 5px;
  left: calc(
    40%
  ); /* Align the line with 35px from the left side of the container */
  top: calc(50%); /* Align the line with 25px from the top of the container */
  animation-duration: 3s;
  animation-name: change-size3;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes change-size3 {
  from {
    height: 1px;
    /* background-color: #333; */
    background-color: var(--second-text-color);
  }
  to {
    height: 5px;
  }
}

.left-middle-logo-line {
  /* background-color: var(--second-dark-background); */
  background-color: var(--main-text-color);
  position: absolute;
  width: 5px;
  height: calc(
    50%
  ); /* Use calc() to adjust the height based on the container's height */
  left: calc(
    40%
  ); /* Align the line with 35px from the left side of the container */
  top: 1px; /* Align the line with the top of the container */
  animation-duration: 3s;
  animation-name: change-size4;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes change-size4 {
  from {
    width: 1px;
    /* background-color: #333; */
    background-color: var(--second-text-color);
  }
  to {
    width: 5px;
  }
}

.top--right-logo-line {
  /* background-color: var(--second-dark-background); */
  background-color: var(--main-text-color);
  position: absolute;
  border-top-right-radius: 2px;
  width: calc(
    60%
  ); /* Use calc() to adjust the width based on the container's width */
  height: 5px;
  left: calc(
    40%
  ); /* Align the line with 35px from the left side of the container */
  top: 1px; /* Align the line with the top of the container */
  animation-duration: 3s;
  animation-name: change-size5;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes change-size5 {
  from {
    height: 1px;
    /* background-color: #333; */
    background-color: var(--second-text-color);
  }
  to {
    height: 5px;
  }
}

/* end logo */

/*QuickReset*/
* {
  margin: 0;
  box-sizing: border-box;
}

/* Update the .header-container class */
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  height: 50px;
  width: 100%; /* Added to span the entire width */
  background-color: var(--second-text-color);
  box-shadow: 4px 2px 10px 1px #13464e;
}

.link-container {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  align-items: center;
}

/* main */
.section-one-name {
  height: 100vh;
  background-color: var(--normal-background-color);
  color: var(--main-light-color);
}

.header-h1-name {
  font-size: 5rem;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  margin-left: 15%;
  padding-top: 14%;
  padding-bottom: 5%;
}
.header-h1-surname {
  font-size: 5rem;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  margin-left: 25%;
  padding-top: 4%;
  padding-bottom: 15%;
}
.header-h2-1 {
  font-size: 2.2rem;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  margin-left: 15%;
  padding-top: 4%;
}

.header-h2-2 {
  font-size: 2.2rem;
  font-family: "Inter", sans-serif;
  font-family: "Roboto", sans-serif;
  margin-left: 25%;
  padding-top: 4%;
}

/* about */
.section-about {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background-color: var(--light-background-color);
  padding: 55px 8px 0 8px;
  height: 100vh;

  color: #000000;
  box-shadow: 4px 2px 10px 1px #32646b;
}
.section-about > * {
  background-color: #84dcbc;

  border-radius: 5px;
  padding: 8px;
}

.container-photo-skills {
  display: flex;
  gap: 14px;
  justify-content: center;
  background-color: var(--light-background-color);
}
.container-photo-skills > * {
  background-color: #84dcbc;
  border-radius: 5px;
  padding: 8px;
}

.container-my-skills {
  display: flex;
  ;
}
.container-my-photo {
  width: 50%;
  ;
  display: flex;
  flex-direction: column;
  align-items: center; /* Horizontally center the items */
  justify-content: center; /* Vertically center the items */
  /* Add any additional styles you want for the container */
}
.div-image-my-photo {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 65px;
}
.image-my-photo {
  
  border-radius: 50%;
  width: 250px;
}
.whoamI {
  text-align: center;
  font-size: 1.5rem;
}
.para-about-me {
  margin-top: 14px;
  margin-bottom: 14px;


  width: 100%;
  font-size: 1rem;
  text-align: center;
}
.container-tecnologies {
  width: 50%;
  display: flex;
  flex-direction: column;
  
}
.container-tecnologies h4{
  text-align: center;
  font-size: 2rem;
  padding: 14px;
}

.tec-container {
  display: flex;
  flex-direction: column;
  gap:15px;
  }
.tec-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 4px;
  ;
  font-size: 1.2rem;
  height: 50px;
  border-bottom: 1px #32646b solid;
  color:#000000;
  background-color: #6fc7d3;
  border-right: #3fc591 300px solid;
}





.section-projects {
  padding: 55px 8px 0 8px;

  height: 100vh;
  box-shadow: 4px 2px 10px 1px #32646b;
}

.section-contact {
  padding: 55px 8px 0 8px;

  height: 100vh;
  box-shadow: 4px 2px 10px 1px #32646b;
}

/* footer */

footer {
  background-color: var(--main-dark-background);
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: large;
  width: 100%;
  text-decoration: none;
  color: var(--main-light-color);
}

.icon-bottom {
  color: var(--main-light-color);
  text-decoration: none !important;
  font-size: 1.3rem;
}
.image-linkedin {
  margin-top: 5px;
  width: 22px;
}
.link-icons-a {
  display: none;
}
/* END SINGLE CATEGORY PAGE */
/********** Large devices only **********/
@media (min-width: 1200px) {
  .header-h1-name {
    padding-top: 4%;
    margin-left: 35%;
    margin-bottom: -5%;
  }
  .header-h1-surname {
    padding-top: 4%;
    margin-left: 45%;
    margin-bottom: -15%;
  }
  .header-h2-1 {
    padding-top: 4%;
    margin-left: 35%;
  }

  .header-h2-2 {
    padding-top: 4%;
    margin-left: 45%;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .header-h1-name {
    padding-top: 4%;
    margin-left: 25%;
  }
  .header-h1-surname {
    padding-top: 4%;
    margin-left: 35%;
  }
  .header-h2-1 {
    padding-top: 4%;
    margin-left: 25%;
  }

  .header-h2-2 {
    padding-top: 4%;
    margin-left: 35%;
  }
  .tec-container div {
    border-right: #3fc591 250px solid;
  }
  
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .header-h1-name {
    padding-top: 4%;
    margin-left: 25%;
  }
  .header-h1-surname {
    padding-top: 4%;
    margin-left: 35%;
  }
  .header-h2-1 {
    padding-top: 4%;
    margin-left: 25%;
  }

  .header-h2-2 {
    padding-top: 4%;
    margin-left: 35%;
  }
  .tec-container div {
    border-right: #3fc591 150px solid;
  }
  
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .header-h1-name {
    padding-top: 4%;
    font-size: 4rem;
  }
  .header-h1-surname {
    padding-top: 4%;
    font-size: 4rem;
  }
  .header-h2-1 {
    padding-top: 4%;
  }

  .header-h2-2 {
    padding-top: 4%;
  }
  .tec-container div {
    border-right: #3fc591 250px solid;
  }
  .container-photo-skills {
    display: block;
  }
  .container-my-photo {
    width: 100%;
  }
  .container-tecnologies {
    width: 100%;
  }
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  .header-h1-name {
    font-size: 3rem;
    padding-top: 14%;
  }
  .header-h1-surname {
    font-size: 3rem;
    padding-top: 4%;
  }
  .header-h2-1 {
    font-size: 2.2rem;
    padding-top: 4%;
  }

  .header-h2-2 {
    font-size: 2.2rem;
    padding-top: 4%;
  }
  .link-container a {
    font-size: 1rem;
  }
  .link-icons-a {
    display: block;
    font-size: larger;
  }
  .link-text {
    display: none;
  }
  .container-photo-skills {
    display: block;
  }
  .tec-container div {
    border-right: #3fc591 100px solid;
  }
 
  .container-my-photo {
    width: 100%;
  }
  .container-tecnologies {
    width: 100%;
  }
  .section-about{
    height: auto;
  }
}
